.logo{
    margin-left: 30px;
}

body{
    background-color: aliceblue;
}

main p{
    margin-top: 50px;
    margin-left: 70px;
    font-size: 20px;
}

main h1{
    font-size: 50px;
    margin-left: 70px;
    font-family: ToyotaType,sans-serif;;
}
.titulos{
    width: 90%;
}
.version img{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: auto;
}

.version{
    width: 100%;
    display: flex;
    margin-left: -80%;
    margin-top: 150px;
}



section{
    display: flex;
}
.colores{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
}
#super-blanco{
    
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    
}

#blanco-perlado{
    background-color: rgb(219, 218, 214) ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#gris-plata{
    background-color: rgb(220, 220, 222);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}
#rojo-metalizado{
    background-color:  rgb(172, 22, 37);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}


#negro{
    background-color: rgb(41, 40, 38);;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}
#gris-oscuro{
    background-color: rgb(116, 109, 103);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#gris-azulado{
    background-color: rgb(97, 114, 123);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* .colores button:hover{
    transform: scale(1.5);
    transition: all 1s;
} */